<!DOCTYPE html>
<html>
    <head>
        <title>Learn | CyberSecurity</title>
        <link rel="icon" type="image/png" href="/images/favicon3.png">
        <script src="/static/learn/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/static/learn/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href='/static/learn/vendors/font-awesome/css/font-awesome.min.css' rel="stylesheet">
        <link rel="stylesheet" href="/static/learn/vendors/bootstrap/dist/css/bootstrap.min.css">
        <link rel='stylesheet' href='/static/learn/header.css' />
        <link rel='stylesheet' href='/static/learn/topics.css' />
        <script src='/static/learn/js/anal.js'></script>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <header>
        <body style="background-color: #f7f7f7; position: relative">

<div class="effect2">
    <a href="/"><img src="/static/auth/title.png" alt="Image Not Found" class = "logo2"></a>
    <a href="/" id="headerhome" class="homelabel"><i class="fa fa-home" style="cursor: pointer"></i> <label style="cursor: pointer">Home</label></a>
    <a href="/learn" id="headerlearn" class="learnlabel"><i class="fa fa-book" style="cursor: pointer"></i> <label style="cursor: pointer">Learn</label></a>
    <a href="/practice" id="headerpractice" class="problemslabel"><i class="fa fa-pencil" style="cursor: pointer"></i> <label style="cursor: pointer">Practice</label></a>
    <a href="/useshell" id="headercontests" class="contestslabel"><i class="fa fa-terminal" style="cursor: pointer"></i> <label style="cursor: pointer">Shell</label></a>
    <a href="/add_articles" id="headerrankings" class="rankingslabel"><i class="fa fa-plus" style="cursor: pointer"></i> <label style="cursor: pointer">Add Articles</label></a>
    {% if user.is_authenticated %}
    <a data-toggle="modal" class="loginbutton" href="/profile">Profile</a>
        <a data-toggle="modal" class="signupbutton" href="/logout">Logout</a>
    {% else %}
        <a data-toggle="modal" class="loginbutton" href="/login">Log In</a>
        <a data-toggle="modal" class="signupbutton" href="/signup">Sign Up</a>
    {% endif %}
    
</div>


    <div class="modal fade" id="loginsignupmodal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width: 35%">
            <div class="modal-content">
                <div class="modal-body loginsignupbody" style="height: 400px;">
                    <div class="fa fa-times close" data-dismiss="modal" style="position: absolute; top: 1%; left: 95.5%;"></div>
                    <ul class="nav nav-tabs" style="width: 95%; position: absolute; top: 7%;">
                        <li id="loginli" style="width: 50%; text-align: center;"><a data-toggle="tab" href="#logintab">Log In</a></li>
                        <li id="signupli" style="width: 49%; text-align: center;"><a id="tfat" data-toggle="tab" href="#signuptab">Sign Up</a></li>
                    </ul>
                    <div class="tab-content" style="position: absolute; top: 25%; width: 95%; padding: 2%; min-height: 300px;">
                        <div class="tab-pane fade in" id="logintab">
                            <input id = "username" maxlength="20" type = "text" required = "" class = "textfielduser textfield" placeholder = "Username"/>
                            <input id = "password" maxlength="20" type = "password" required = "" class = "textfieldpassword textfield" placeholder = "Password"/>
                            <input id = "login" onclick="Login()" type = "button" value = "Log In" class = "button1" />
                            <a data-toggle="tab" onclick="func3()" href="#forgotpassword" class="forgotpassword"><small>Forgot Password ?</small></a>
                            <label id="errormsg" class="errmsg"></label>
                        </div>
                        <div class="tab-pane fade in" id="signuptab">
                            <input id = "handle" maxlength="20" type = "text" required = "" class = "textfielduser textfield" placeholder = "Username"/>
                            <input id = "firstname" maxlength="20" type = "text" required = "" class = "textfieldfname textfield" placeholder = "First Name"/>
                            <input id = "lastname" maxlength="20" type = "text" required = "" class = "textfieldlname textfield" placeholder = "Last Name"/>
                            <input id = "emailid" maxlength="50" type = "text" required = "" class = "textfieldemail textfield" placeholder = "Email Id"/>
                            <input id = "signup" onclick="SignUp()" type = "button" value = "Sign Up" class = "buttonSign" />
                            <label id="errormsg2" class="errmsg2"></label>
                        </div>
                        <div class="tab-pane fade in" id="forgotpassword">
                            <label style="position: absolute; left: 20%; width: 60%; text-align: center;">New password will be sent to following email id</label>
                            <input id = "usernamefp" name = "usernamefp" maxlength="50" type = "text" required = "" class = "textfielduserfp textfield" placeholder = "Email Id"/>
                            <input id = "signup" onclick="ForgotPassword()" type = "button" value = "Send Password" class = "buttonFP" />
                            <label id="errormsg3" class="errmsg3"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" language="javascript">

        function clearAll()
        {
            document.getElementById('username').value = '';
            document.getElementById('password').value = '';
            document.getElementById('handle').value = '';
            document.getElementById('firstname').value = '';
            document.getElementById('lastname').value = '';
            document.getElementById('emailid').value = '';
            document.getElementById('usernamefp').value = '';
        }

        function func1() {
            document.getElementById('loginli').className = 'active';
            document.getElementById('logintab').className = 'tab-pane fade in active';
            document.getElementById('signupli').className = '';
            document.getElementById('signuptab').className = 'tab-pane fade in';
            document.getElementById('forgotpassword').className = 'tab-pane fade in';
            clearAll();
        }

        function func2() {
            document.getElementById('loginli').className = '';
            document.getElementById('logintab').className = 'tab-pane fade in';
            document.getElementById('signupli').className = 'active';
            document.getElementById('signuptab').className = 'tab-pane fade in active';
            document.getElementById('forgotpassword').className = 'tab-pane fade in';
            clearAll();
        }

        function func3() {
            document.getElementById('loginli').className = '';
            document.getElementById('signupli').className = '';
        }

        function Login() {
            $.post('/checkvaliduser', {username: document.getElementById('username').value, password: document.getElementById('password').value},
            function(res) {
                if (res.success == 0) {
                    document.getElementById('errormsg').innerText = res.msg;
                    document.getElementById('errormsg').style.color = 'red';
                    $('#errormsg').fadeIn(500).delay(2000).fadeOut(500);
                }
                else {
                    location.reload();
                }
            });
        }

        function SignUp() {
            $.post('/signup', {
                username: document.getElementById('handle').value,
                fname: document.getElementById('firstname').value,
                lname: document.getElementById('lastname').value,
                emailid: document.getElementById('emailid').value
            }, function (res) {
                document.getElementById('errormsg2').innerText = res.msg;
                if (res.success == 0) {
                    document.getElementById('errormsg2').style.color = 'red';
                }
                else {
                    document.getElementById('errormsg2').style.color = '#1FB618';
                }
                $('#errormsg2').fadeIn(500).delay(2000).fadeOut(500);
            });
        }


        function ForgotPassword() {
            $.post('/forgotpassword', {emailid: document.getElementById('usernamefp').value}, function (res) {
                document.getElementById('errormsg3').innerText = res.msg;
                if (res.success == 0) {
                    document.getElementById('errormsg3').style.color = 'red';
                }
                else {
                    document.getElementById('errormsg3').style.color = '#1FB618';
                }
                $('#errormsg3').fadeIn(500).delay(2000).fadeOut(500);
            });
        }

    </script>

</header>

<div class = "row page" style="padding-top: 2%; width: 100%">
    <div class = "col-md-3" style="padding-right: 2%">
        
        <div id='subtopics' class="subtopics row">

            <div style="padding: 2%;">
                <h3 style="font-size: 150%">Subtopics</h3>
                <ul class="nav nav-pills nav-stacked">
                    {% for article in articles %}
                    <li role="presentation" id={{article.articleid}} style="font-size: 95%"><a href="{{article.articleid}}" > <div> {{ article.articlename }}</div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('{{article.articleid}}' == '2')
                            document.getElementById('{{article.articleid}}').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('{{article.articleid}}').style.opacity = 0.5;
                    </script>
                    {% endfor %}
                    <!-- <li role="presentation" id="st2" style="font-size: 95%"><a href="?subtopic=2" > <div> Getting Started with C </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '2')
                            document.getElementById('st2').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st2').style.opacity = 0.5;
                    </script>
                    
                    <li role="presentation" id="st3" style="font-size: 95%"><a href="?subtopic=3" > <div> Decision Control Structure </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '3')
                            document.getElementById('st3').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st3').style.opacity = 0.5;
                    </script>
                    
                    <li role="presentation" id="st4" style="font-size: 95%"><a href="?subtopic=4" > <div> Loops </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '4')
                            document.getElementById('st4').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st4').style.opacity = 0.5;
                    </script>
                    
                    <li role="presentation" id="st5" style="font-size: 95%"><a href="?subtopic=5" > <div> Jump Statements </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '5')
                            document.getElementById('st5').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st5').style.opacity = 0.5;
                    </script>
                    
                    <li role="presentation" id="st6" style="font-size: 95%"><a href="?subtopic=6" > <div> Arrays </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '6')
                            document.getElementById('st6').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st6').style.opacity = 0.5;
                    </script>
                    
                    <li role="presentation" id="st7" style="font-size: 95%"><a href="?subtopic=7" > <div> Pointers </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '7')
                            document.getElementById('st7').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st7').style.opacity = 0.5;
                    </script>
                    
                    <li role="presentation" id="st8" style="font-size: 95%"><a href="?subtopic=8" > <div> Functions </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '8')
                            document.getElementById('st8').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st8').style.opacity = 0.5;
                    </script>
                    
                    <li role="presentation" id="st34" style="font-size: 95%"><a href="?subtopic=34" > <div> Structure </div> </a>
                    <script type="text/javascript" language="javascript">
                        if ('1' == '34')
                            document.getElementById('st34').className = 'active';
                        if ('visible' == 'hidden')
                            document.getElementById('st34').style.opacity = 0.5;
                    </script> -->
                    
                </ul>
            </div>
            
        </div>
    </div>
    <div class = "col-md-9 blog">
        <div id = "title" class="title">
            <div class="heading">
                Basic C Programming <small style="font-size: 70%;"> ( World of Programming ) </small>
                
            </div>
        </div>
        <div id="description" class="description" >
            <div id="log"></div>
        </div>

        

    </div>
</div>


<textarea type="text" id='hiddenText' class="hide123">&lt;div&gt;
	Programming is a process of writing down a process flow in a particular notation, so that it can be understood and executed by a compiler. The notion is called as the programming language.

	&lt;h4&gt;Programming in C&lt;/h4&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;b&gt;&lt;u&gt;
				Characters in C		
			&lt;/u&gt;&lt;/b&gt;
		&lt;/li&gt;
		C character set is formed of Alphabets(A-Z, a-z), Digits(0-9) and special characters.
		&lt;img src=&#34;https://s14.postimg.org/yx5m6za8h/temp.png&#34; /&gt;&lt;br&gt;
		&lt;hr&gt;
		&lt;li&gt;
			&lt;b&gt;&lt;u&gt;
				Identifiers and Keywords		
			&lt;/u&gt;&lt;/b&gt;
		&lt;/li&gt;
		&lt;b&gt;Identifiers-&lt;/b&gt;&lt;br&gt;
		Each program element in a C program are given a name called identifiers.&lt;br&gt;
		&lt;b&gt;Rules for constructing Identifier names in C&lt;/b&gt;&lt;br&gt;
		&lt;ul&gt;
			&lt;li&gt;First character should be an alphabet or underscore.&lt;/li&gt;
			&lt;li&gt;Succeeding characters might be digits or letter.&lt;/li&gt;
			&lt;li&gt;Punctuation and special characters aren&#39;t allowed except underscore.&lt;/li&gt;
			&lt;li&gt;The length of an identifier should not excede 31 characters following the above conditions.&lt;/li&gt;
		&lt;/ul&gt;
		&lt;br&gt;
		&lt;b&gt;Keywords&lt;/b&gt;&lt;br&gt;
		&lt;ul&gt;
			&lt;li&gt;Keywords are pre-defined words whose meaning has already being determined in a C Compiler.&lt;/li&gt;
			&lt;li&gt;Since they have a predefined meaning in the compiler so they &lt;u&gt;can&#39;t&lt;/u&gt; be used as identifiers.&lt;/li&gt;
		&lt;/ul&gt; &lt;br&gt;
		Following is the list of 32 Keywords in C language. &lt;br&gt;
		&lt;img src=&#34;https://s13.postimg.org/cpkbxqxcn/temp.png&#34;/&gt;&lt;br/&gt;&lt;hr&gt;

		&lt;li&gt;
			&lt;b&gt;&lt;u&gt;
				Data Types		
			&lt;/u&gt;&lt;/b&gt;
		&lt;/li&gt;
		&lt;ul&gt;
			&lt;li&gt;C data types are defined as the data storage format that a variable can store a data to perform a specific operation.&lt;/li&gt;
			&lt;li&gt;Data types are used to define a variable before it can be used in a program.&lt;/li&gt;
			&lt;li&gt;Size of variables, constants and array are determined by the data types.&lt;/li&gt;
		&lt;/ul&gt;
		&lt;br&gt;
		There are four data types in C language. They are, &lt;br&gt;
		&lt;table border=&#34;1&#34;&gt;
			&lt;th&gt;Types&lt;/th&gt;
			&lt;th&gt;Data Types&lt;/th&gt;
			&lt;tr&gt;
				&lt;td&gt;Basic data types&lt;/td&gt;
				&lt;td&gt;int, char, float, double&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Enumeration data type&lt;/td&gt;
				&lt;td&gt;enum&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Derived data type&lt;/td&gt;
				&lt;td&gt;pointer, array, structure, union&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;Void data type&lt;/td&gt;
				&lt;td&gt;void&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/table&gt;&lt;br&gt;
		&lt;b&gt;Basic Data Types&lt;/b&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;b&gt;Integer data types&lt;/b&gt;
			&lt;br&gt;
			Integer data type allows a variable to store numeric values. &lt;u&gt;int&lt;/u&gt; or &lt;u&gt;long int&lt;/u&gt; or &lt;u&gt;long long int&lt;/u&gt; can be used to refer integer data type. The difference between them is of range of values they can store. Also note that, we &lt;u&gt;can&#39;t&lt;/u&gt; store decimal values using integer data types. If we try to store a decimal value in integer data type then the decimal part will be truncated and the remaing value will be stored in the variable.
			Ranges of Integer data types:-
			&lt;table border=&#34;1&#34;&gt;
				&lt;th&gt;Data Type&lt;/th&gt;
				&lt;th&gt;Range&lt;/th&gt;
				&lt;tr&gt;
					&lt;td&gt;int&lt;/td&gt;
					&lt;td&gt;-32,768 to 32,767 or -2,147,483,648 to 2,147,483,647&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td&gt;long int&lt;/td&gt;
					&lt;td&gt;-2,147,483,648 to 2,147,483,647&lt;/td&gt;
				&lt;/tr&gt;
				&lt;tr&gt;
					&lt;td&gt;long long int&lt;/td&gt;
					&lt;td&gt;-2^63 + 1 to 2^63 -1&lt;/td&gt;
				&lt;/tr&gt;
			&lt;/table&gt;

			&lt;/li&gt;
			&lt;li&gt;&lt;b&gt;Character data types&lt;/b&gt;
				&lt;br&gt;
				Character data type allows a variable to store only one character. &lt;u&gt;char&lt;/u&gt; keyword is used to refer charact data type.
			&lt;/li&gt;
			&lt;li&gt;&lt;b&gt;Floating point data type&lt;/b&gt;
				&lt;br&gt;
				Floating point data type are used to store real numbers. It is of two types:- &lt;br&gt;
				&lt;ul&gt;&lt;li&gt;Float&lt;/li&gt;&lt;li&gt;Double&lt;/li&gt;&lt;/ul&gt;&lt;br&gt;
				&lt;ul&gt;
					&lt;li&gt;Float
						&lt;br&gt;
						It allows to store decimal values with the precision of 6 digits. &lt;u&gt;float&lt;/u&gt; keyword is used to refer float data type. The range of float is &lt;b&gt;1.2E-38&lt;/b&gt; to &lt;b&gt;3.4E+38&lt;/b&gt;.
					&lt;/li&gt;
					&lt;li&gt;Double
						&lt;br&gt;
						It is also same as float data type which allows upto a precision of 15 digits. The range of double is from &lt;b&gt;2.3E-308&lt;/b&gt; to &lt;b&gt;1.7E+308&lt;/b&gt;. &lt;u&gt;double&lt;/u&gt; is the keyword for double data type.
					&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
		&lt;hr&gt;

		&lt;li&gt;
			&lt;b&gt;&lt;u&gt;
				Constants and Variables		
			&lt;/u&gt;&lt;/b&gt;
		&lt;/li&gt;
		A constant is an entity that doesn&#39;t change whereas a variable is an entity that may change.&lt;br&gt;
		&lt;b&gt;Constants:-&lt;/b&gt;&lt;br&gt;
		Constants are diviede majorly in two categories&lt;br&gt;
		&lt;ul&gt;
			&lt;li&gt;Integer constants&lt;/li&gt;
			&lt;li&gt;Real constants&lt;/li&gt;
			&lt;li&gt;Character constants&lt;/li&gt;
			&lt;li&gt;Backslash character constants&lt;/li&gt;
		&lt;/ul&gt;
		&lt;br&gt;
		We have already discussed the properties of the Integer,Character and Real constants in data types.
		&lt;br&gt;
		&lt;b&gt;Backslash character constants&lt;/b&gt;&lt;br&gt;
		There are some characters that have special meaning in C language. They should be preceded by backslash symbol to make use of special function of them. Given below is the list of special characters and their purpose.
		&lt;br&gt;
		&lt;table border=&#34;1&#34;&gt;
			&lt;th&gt;Backslash character&lt;/th&gt;
			&lt;th&gt;Meaning&lt;/th&gt;
			&lt;tr&gt;
				&lt;td&gt;\b&lt;/td&gt;
				&lt;td&gt;Backspace&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\f&lt;/td&gt;
				&lt;td&gt;Form feed&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\n&lt;/td&gt;
				&lt;td&gt;New Line&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\r&lt;/td&gt;
				&lt;td&gt;Carriage return&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\t&lt;/td&gt;
				&lt;td&gt;Horizontal Tab&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\&#34;&lt;/td&gt;
				&lt;td&gt;Double Quote&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\&#39;&lt;/td&gt;
				&lt;td&gt;Single Quote&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\\&lt;/td&gt;
				&lt;td&gt;Backslash&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\v&lt;/td&gt;
				&lt;td&gt;Vertical Tab&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\a&lt;/td&gt;
				&lt;td&gt;Alert or bell&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\?&lt;/td&gt;
				&lt;td&gt;Question mark&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\N&lt;/td&gt;
				&lt;td&gt;Octal constant (N is an octal constant)&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;\XN&lt;/td&gt;
				&lt;td&gt;Hexadecimal constant (N – hex.dcml cnst)&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/table&gt;
		&lt;br&gt;
		&lt;b&gt;Variables:-&lt;/b&gt;&lt;br&gt;
		C variable is a named location in a memory where a program can manipulate the data. This location is used to hold the value of the variable. The value of the C variable may get change in the program. C variable might be belonging to any of the data type like int, float, char etc. Variables should be declared in the C program before to use. There are 2 types of variables- &lt;br&gt;
		&lt;ul&gt;
			&lt;li&gt;Local Variable-&lt;br&gt;The scope of local variables will be within the function only. These variables are declared within the function and can’t be accessed outside the function.&lt;/li&gt;
			&lt;li&gt;Global Variable-&lt;br&gt;The scope of global variables will be throughout the program. These variables can be accessed from anywhere in the program. This variable is defined outside the main function. So that, this variable is visible to main function and all other sub functions.&lt;/li&gt;
		&lt;/ul&gt; 
		&lt;hr&gt;

		&lt;li&gt;
			&lt;b&gt;&lt;u&gt;
				Comments		
			&lt;/u&gt;&lt;/b&gt;
		&lt;/li&gt;
		The comments are added in a program with the purpose of making the source code easier to understand by the programmer and are ignored by the compiler. There are two types of comments
		&lt;ul&gt;
			&lt;li&gt;Single Line Comment&lt;br&gt;We can make a single line comment by placing &lt;b&gt;//&lt;/b&gt; where we want to comment.&lt;/li&gt; &lt;!-- Language --&gt;
			&lt;li&gt;Multi Line Comment&lt;br&gt;Multi-line comments in the program should be enclosed within &lt;b&gt;/*&lt;/b&gt; and &lt;b&gt;*/&lt;/b&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;hr&gt;

		&lt;li&gt;
			&lt;b&gt;&lt;u&gt;
				Printf and Scanf		
			&lt;/u&gt;&lt;/b&gt;
		&lt;/li&gt;
		printf() and scanf() functions are inbuilt library functions in C which are available in C library by default. These functions are declared and related macros are defined in “stdio.h” which is a header file. &lt;br&gt;
		&lt;b&gt;printf() function&lt;/b&gt;&lt;br&gt;
		printf() function is used to print the “character, string, float, integer, octal and hexadecimal values” onto the output screen. &lt;br&gt;
		&lt;b&gt;scanf() function&lt;/b&gt;&lt;br&gt;
		scanf() function is used to read character, string and numeric data from the keyboard. &#39;&lt;b&gt;&amp;amp;&lt;/b&gt;&#39; is used before variable name. It is just like a pointer which is used to point to the variable.&lt;br&gt;&lt;br&gt;
		There are format specifiers which are required either to take input or print the output. The most common format specifiers are listed below.&lt;br&gt;
		&lt;table border=&#34;1&#34;&gt;
			&lt;th&gt;Format Specifier&lt;/th&gt;
			&lt;th&gt;Data Type&lt;/th&gt;
			&lt;tr&gt;
				&lt;td&gt;&amp;#37;d&lt;/td&gt;
				&lt;td&gt;int&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;&amp;#37;ld&lt;/td&gt;
				&lt;td&gt;long int&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;&amp;#37;lld&lt;/td&gt;
				&lt;td&gt;long long int&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;&amp;#37;c&lt;/td&gt;
				&lt;td&gt;char&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;&amp;#37;s&lt;/td&gt;
				&lt;td&gt;string&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;&amp;#37;f&lt;/td&gt;
				&lt;td&gt;float&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;&amp;#37;lf&lt;/td&gt;
				&lt;td&gt;double&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/table&gt;&lt;br&gt;
		When we use printf(), these specifiers are replaced by the value of the corresponding variable. Whereas, when we use scanf() the format specifier specifies the datatype of the value entered also stores in the corresponding variable.
		&lt;hr&gt;

		&lt;li&gt;
			&lt;b&gt;&lt;u&gt;
				Example
			&lt;/u&gt;&lt;/b&gt;
		&lt;/li&gt;&lt;br&gt;
		Lets see an example to under more basic features and functionality of C language. &lt;br&gt;
		&lt;pre&gt;&lt;code&gt;
&amp;#47;*
	This is a multi-line comment.
	It is a basic c program to add 3 numbers and print the resultant number.
*&amp;#47;
&amp;#47;&amp;#47; It is a single line comment

&amp;#35;include &amp;lt;;stdio.h&amp;gt;

&amp;#35;define ll long long  &amp;#47;&amp;#47; It is a Macro.

int main&amp;#40;&amp;#41;
&amp;#123;
	int a&amp;#59;
	int b,c&amp;#59;
	ll int ans&amp;#59;
	a = 0&amp;#59;
	b = c = 0&amp;#59;
	scanf&amp;#40;&#34;&amp;#37;d&#34;, &amp;#38;a&amp;#41;&amp;#59;
	&amp;#47;&amp;#47; Scanf&amp;#40;&#34;&amp;#37;d &amp;#37;d&#34;,&amp;#38;b,&amp;#38;c&amp;#41;&amp;#59;
	scanf&amp;#40;&#34;&amp;#37;d &amp;#37;d&#34;, &amp;#38;b, &amp;#38;c&amp;#41;&amp;#59;
	ans = a + b + c&amp;#59;
	printf&amp;#40;&#34;&amp;#37;lld\n&#34;, ans&amp;#41;&amp;#59;

	return 0&amp;#59;
&amp;#125;
		&lt;/code&gt;&lt;/pre&gt; &lt;br&gt;
		Lets try to understand the above code line by line. &lt;br&gt;
		Firstly, it is a C code for taking 3 numbers as input from the user and printing the sum of those numbers as output.&lt;br&gt;
		&lt;ul&gt;
			&lt;li&gt;The first four lines are an example of a multiline comment.&lt;/li&gt;
			&lt;li&gt;The next line of code is an example of a single line comment&lt;/li&gt;
			&lt;li&gt;The next line of code is &lt;b&gt;#include &lt;stdio.h&gt;&lt;/b&gt;. The &lt;b&gt;#&lt;/b&gt; is called the preprocessor directive.&lt;br&gt; Here the preprocessor directive is used to include the content of the header file named &#39;stdio.h&#39; (replace this line of code with the content of that file). &lt;/li&gt;
			&lt;li&gt;In the next line of code we defined a macro. A &lt;b&gt;Macro&lt;/b&gt; is a name given to a block of C statements as a pre-processor directive. Being a pre-processor, the block of code is communicated to the compiler before entering into the actual coding (main () function). A macro can be used to subsitute the block of code with any identifier the programmer wants. It is declared as &lt;b&gt;#define identifier block_of_code&lt;/b&gt;. For example, here we are defining long long as ll and we can use &#39;ll&#39; in the code in´place of long long. When the code will compile all the &#39;ll&#39; will be subsituted to &#39;long long&#39;&lt;/li&gt;
			&lt;li&gt;The next line of code is the main function from where the execution of any C program begins. &lt;/li&gt; &lt;!-- Language --&gt;
			&lt;li&gt;The following line indicates the beginning of any function&lt;/li&gt;
			&lt;li&gt;In next 3 lines we declare all the required variables for the program.&lt;/li&gt;
			&lt;li&gt;The next 2 lines of code depict different ways to initialize the variables.&lt;/li&gt;
			&lt;li&gt;There are different ways to take the input. We can either take the input numbers one by one or all three numbers together in a single scanf statement.&lt;/li&gt;
			&lt;li&gt;The next line (comment) is just to remind you that C is &lt;b&gt;Case Sensitive Language&lt;/b&gt; so if we write Scanf instead of scanf, you will get a compilation error.&lt;/li&gt;
			&lt;li&gt;The next line of code is an arithmetic instruction which is used to perform mathematical operations between constant and variables (in this case add three numbers and store them in another variable).&lt;/li&gt;
			&lt;li&gt;In next line we print the answer.&lt;/li&gt;
			&lt;li&gt;Next line terminates the C program(main function) and returns 0.&lt;/li&gt;
			&lt;li&gt;The last line indicates the end of any(in this case &#39;main&#39;) function.&lt;/li&gt;
		&lt;/ul&gt;
		&lt;hr&gt;
	&lt;/ul&gt;
&lt;/div&gt;</textarea>



<script type="text/javascript" language="javascript">
    document.getElementById('headerlearn').className = 'learnlabel selectedHeaderOption';
    var str = document.getElementById('hiddenText').value;
    var $log = $( '#log' );
    var html = $.parseHTML(str);
    $log.append(html);
</script>

<footer>
        <footer id="footer" class="footercontainer">
        <small><label class="footerfollowus">Follow Us</label></small>
        <a href="https://www.facebook.com/CodeBuddyOfficial" target="_blank" class="fa fa-facebook-square fa-2x fotterfb"></a>
        <!-- <a href="https://www.facebook.com/CodeBuddyOfficial" target="_blank" class="fa fa-twitter fa-2x fottertw"></a>
        <a href="https://www.facebook.com/CodeBuddyOfficial" target="_blank" class="fa fa-google-plus-square fa-2x fottergp"></a> -->
        <a href="/aboutus" class="footeraboutus"><label style="cursor: pointer">About Us</label></a>
        <a onclick="setTitle('Feedback')" data-toggle="modal" data-target="#feedbackorbug" class="footeraboutus"><label style="cursor: pointer">Feedback</label></a>
        <a onclick="setDoubtTitle('Ask your Doubt')" data-toggle="modal" data-target="#askyourdoubt" class = "footeraboutus" style="border: none"><label style="cursor: pointer">Ask your Doubt</label></a>
        <label class="footercopyright"><label class="fa fa-copyright"></label> 2017 CodeBuddy</label>
        <label class="footercontactus">Contact Us</label>
        <label class="fa fa-phone footercontactno"> +91 - 8445261407</label>
        <label class="fa fa-phone footercontactno2"> +91 - 8858840981</label>
        <label class="fa fa-envelope footercontactmail"> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="14677c7d7f7c75667375667325262420547379757d783a777b79">[email&#160;protected]</a></label>
        <label class="fa fa-envelope footercontactmail2"> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7419151d184615071c031d1a4d41341319151d185a171b19">[email&#160;protected]</a></label>
    </footer>

    <div class="modal fade" id="feedbackorbug" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="feedbackorbugtitle"></h4>
                </div>
                <div class="modal-body" style="height: 100%">
                    <div class="form-group">
                        <label id="feedbackorbugmsg"></label>
                        <textarea class="form-control" style="resize: none" required="" rows="7" name="feedbackorbugdescription" id="feedbackorbugdescription" placeholder=""></textarea>
                    </div>
                    <button onclick="feedbackorbug()" class="btn btn-default">Submit</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="askyourdoubt" role="dialog">
        <div class="modal-dialog">
            <div class = "modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="doubttitle"></h4>
                </div>
                <div class="modal-body" style="height: 100%">
                    <div class="form-group">
                        <label id="doubtmsg"></label>
                        <textarea class="form-control" style="resize: none" required="" rows="7" name="doubtdescription" id="doubtdescription" placeholder=""></textarea>
                    </div>
                    <button onclick="askyourdoubt()" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" language="javascript">
        var docheight = $(document).height();
        var footertop = $('footer').offset().top;
        var footerheight = $('footer').height();
        document.getElementById('footer').style.top = String(docheight - (footerheight + footertop)) + 'px';

        function setTitle(str) {
            document.getElementById('feedbackorbugtitle').innerText = str;
            document.getElementById('feedbackorbugdescription').value = '';
            document.getElementById('feedbackorbugdescription').placeholder = str;
        }

        function setDoubtTitle(str) {
            document.getElementById('doubttitle').innerText = str;
            document.getElementById('doubtdescription').value = '';
            document.getElementById('doubtdescription').placeholder = str;
        }

        function feedbackorbug() {
            var feedbackorbugdescription = document.getElementById('feedbackorbugdescription').value;
            $.post('/reportfeedbackorbug', {feedbackorbugdescription: feedbackorbugdescription}, function (res) {
                if (res.success == 0)
                    document.getElementById('feedbackorbugmsg').style.color = 'red';
                else
                    document.getElementById('feedbackorbugmsg').style.color = 'green';
                document.getElementById('feedbackorbugmsg').innerText = res.msg;
                $('#feedbackorbugmsg').hide().fadeIn(500).delay(1000).fadeOut(500);
            });
        }

        function askyourdoubt() {
            var doubtdescription = document.getElementById('doubtdescription').value;
            $.post('/askingusdoubt',{doubtdescription: doubtdescription}, function (res) {
                if (res.success == 0)
                    document.getElementById('doubtmsg').style.color = 'red';
                else
                    document.getElementById('doubtmsg').style.color = 'green';
                document.getElementById('doubtmsg').innerText = res.msg;
                $('#doubtmsg').hide().fadeIn(500).delay(1000).fadeOut(500);
            });
        }

    </script>

</body>

</footer>

</html>