.homee h1{
    color: white;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:55%;
    margin-right: 20%;

    margin-top: 10%;

}