
<link rel="stylesheet" href="/static/forgotpassword/fp.css">

<script src="/static/forgotpassword/jquery.min.js"></script>
<script src="/static/forgotpassword/bootstrap.min.js"></script>
<script src="/static/forgotpassword/jquery.easing.min.js"></script>

<div class="log-form">
  <h2>Forgot Password</h2>
    
  <form method="post" >
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn" href="/login">SUBMIT</button>
<style>
                label {
                    display: none;
                }
                
            </style>
        <script>
          $('#id_username').attr('placeholder', 'USERNAME');
          $('#id_email').attr('placeholder','EMAIL');
        </script>
        
  </form>

</div><!--end log form -->
