<div class="page_content">
    <link rel="stylesheet" href="/static/practice.css">
    <script src="/static/practice.js"></script>
    <div class="row clearfix">
  
      <div class="column full">
  
        <div>
  
          <h2>Accordion (FAQ) 300ms</h2>
  
          <div class="faq">
            <div class="accordion">
              <h3>What is Gato</h3>
              <div>
                <p>Gato is the name of Texas State's web content management system that enables users to quickly and easily create, manage and maintain sophisticated web sites without having to know complex web technologies or programming languages.</p>
  
                <p>As the size and complexity of web sites increase, well delivered and managed content is essential to ensuring that the process of updating, revising and redesigning does not become an obstacle to maintaining an up-to-date and relevant web
                  site.
                </p>
              </div>
            </div>
            <div class="accordion">
              <h3>Why should I use a CMS?</h3>
              <div>
                <p>There are several advantages that using the CMS provides:</p>
                <ul>
                  <li>You can manage your website without having to know HTML, CSS, Javascript, ASP, PHP, etc.</li>
                  <li>You get the Texas State look and feel without any extra effort.</li>
                  <li>Your website will be hosted on our high-availability servers.</li>
                  <li>It's easier to have multiple people contributing to your site without stepping on each other's toes.</li>
                  <li>The CMS helps minimize the chance of "page not found" and other errors.</li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <h3>What Features Does the Gato CMS Provide?</h3>
              <div>
                <ul>
                  <li>A user-friendly and Microsoft Word-like environment for content editing.</li>
                  <li>Support for photo galleries.</li>
                  <li>A self-updating department directory.</li>
                  <li>Support for streaming media (video and sound).</li>
                  <li>On-the-fly editable navigation.</li>
                  <li>A standard information architecture which can be modified to suit your needs.</li>
                  <li>Valid XHTML, which helps make your site accessible for people using screen readers or other assistive technologies.</li>
                  <li>Secure, redundant hosting for consistent public display of your website.</li>
                  <li>A document management system to allow online management and display of website files (pdf, word, excel, etc)</li>
                  <li>And much more...</li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <h3>On What Browsers Will Gato CMS Websites Display Properly?</h3>
              <div>
                <p>We've designed the system to create sites compatible with the latest versions of the modern web browsers: Firefox, Chrome, Internet Explorer, and Safari. Further, the sites should be usable with many older browsers as well, though the display
                  of data may not always be optimal.</p>
              </div>
            </div>
            <div class="accordion">
              <h3>Can I Set Up a Web Site for an Instructor or Student Organization in Gato?</h3>
              <div>
                <div class="txst-faqitem-answer" style="overflow: hidden;">
                  <p>Currently, the Gato system is only for college, academic department, center, institute and non-academic service and administrative department's web sites. At the present time we are not able to accommodate student organizations, personal
                    or instructional sites in Gato.&nbsp;</p>
                  <p>Chartered Student Organizations can host sites in Gato, although the request must come from the Charter's sponsor organization.</p>
                  <p><a href="#nowhere">WP&nbsp;Personal Websites</a> can be used to create and maintain websites that cannot be hosted in Gato.</p>
                </div>
              </div>
            </div>
            <div class="accordion">
              <h3>I know HTML, CSS, Javascript and have been developing web pages for years. Do I really need to attend the Gato training?</h3>
              <div>
                <p>Yes, absolutely. Gato training doesn't teach you to do HTML or CSS. It teaches you how to use the specific content management system we've installed. You'll learn what the different interfaces allow you to do, what options are available
                  (and what are not), as well as "gotchas" to keep in mind when developing in the system in order to avoid problems and delays.</p>
              </div>
            </div>
            <div class="accordion">
              <h3>How Can I Get Help With The Gato CMS?</h3>
              <div>
                <p>There are several resources to help you with the CMS:</p>
                <ul>
                  <li>The first place to go for information is this site, where we'll be providing documentation and other information on how to best utilize the CMS.</li>
                  <li>Next, consider signing up for one of our many <a href="#nowhere/support/training.html">Training Classes</a>.</li>
                  <li>You can always send a request for help to <a href="#">gato@txstate.edu</a>, where one of our support team will tend to it promptly.</li>
                  <li>You can also call 245-5566, our support line, between 8am and 12am, Monday-Friday, and from 12pm to 12am on Saturday and Sunday. <a href="#nowhere/support/livechat.html">Live chat</a> support is also available during these times.</li>
                </ul>
              </div>
            </div>
          </div>
  
          <h2>Accordion (FAQ) 150ms</h2>
  
          <div class="faq">
            <div class="accordion-2">
              <h3>What is Gato</h3>
              <div>
                <p>Gato is the name of Texas State's web content management system that enables users to quickly and easily create, manage and maintain sophisticated web sites without having to know complex web technologies or programming languages.</p>
  
                <p>As the size and complexity of web sites increase, well delivered and managed content is essential to ensuring that the process of updating, revising and redesigning does not become an obstacle to maintaining an up-to-date and relevant web
                  site.
                </p>
              </div>
            </div>
            <div class="accordion-2">
              <h3>Why should I use a CMS?</h3>
              <div>
                <p>There are several advantages that using the CMS provides:</p>
                <ul>
                  <li>You can manage your website without having to know HTML, CSS, Javascript, ASP, PHP, etc.</li>
                  <li>You get the Texas State look and feel without any extra effort.</li>
                  <li>Your website will be hosted on our high-availability servers.</li>
                  <li>It's easier to have multiple people contributing to your site without stepping on each other's toes.</li>
                  <li>The CMS helps minimize the chance of "page not found" and other errors.</li>
                </ul>
              </div>
            </div>
            <div class="accordion-2">
              <h3>What Features Does the Gato CMS Provide?</h3>
              <div>
                <ul>
                  <li>A user-friendly and Microsoft Word-like environment for content editing.</li>
                  <li>Support for photo galleries.</li>
                  <li>A self-updating department directory.</li>
                  <li>Support for streaming media (video and sound).</li>
                  <li>On-the-fly editable navigation.</li>
                  <li>A standard information architecture which can be modified to suit your needs.</li>
                  <li>Valid XHTML, which helps make your site accessible for people using screen readers or other assistive technologies.</li>
                  <li>Secure, redundant hosting for consistent public display of your website.</li>
                  <li>A document management system to allow online management and display of website files (pdf, word, excel, etc)</li>
                  <li>And much more...</li>
                </ul>
              </div>
            </div>
            <div class="accordion-2">
              <h3>On What Browsers Will Gato CMS Websites Display Properly?</h3>
              <div>
                <p>We've designed the system to create sites compatible with the latest versions of the modern web browsers: Firefox, Chrome, Internet Explorer, and Safari. Further, the sites should be usable with many older browsers as well, though the display
                  of data may not always be optimal.</p>
              </div>
            </div>
            <div class="accordion-2">
              <h3>Can I Set Up a Web Site for an Instructor or Student Organization in Gato?</h3>
              <div>
                <div class="txst-faqitem-answer" style="overflow: hidden;">
                  <p>Currently, the Gato system is only for college, academic department, center, institute and non-academic service and administrative department's web sites. At the present time we are not able to accommodate student organizations, personal
                    or instructional sites in Gato.&nbsp;</p>
                  <p>Chartered Student Organizations can host sites in Gato, although the request must come from the Charter's sponsor organization.</p>
                  <p><a href="#nowhere">WP&nbsp;Personal Websites</a> can be used to create and maintain websites that cannot be hosted in Gato.</p>
                </div>
              </div>
            </div>
            <div class="accordion-2">
              <h3>I know HTML, CSS, Javascript and have been developing web pages for years. Do I really need to attend the Gato training?</h3>
              <div>
                <p>Yes, absolutely. Gato training doesn't teach you to do HTML or CSS. It teaches you how to use the specific content management system we've installed. You'll learn what the different interfaces allow you to do, what options are available
                  (and what are not), as well as "gotchas" to keep in mind when developing in the system in order to avoid problems and delays.</p>
              </div>
            </div>
            <div class="accordion-2">
              <h3>How Can I Get Help With The Gato CMS?</h3>
              <div>
                <p>There are several resources to help you with the CMS:</p>
                <ul>
                  <li>The first place to go for information is this site, where we'll be providing documentation and other information on how to best utilize the CMS.</li>
                  <li>Next, consider signing up for one of our many <a href="#nowhere/support/training.html">Training Classes</a>.</li>
                  <li>You can always send a request for help to <a href="#">gato@txstate.edu</a>, where one of our support team will tend to it promptly.</li>
                  <li>You can also call 245-5566, our support line, between 8am and 12am, Monday-Friday, and from 12pm to 12am on Saturday and Sunday. <a href="#nowhere/support/livechat.html">Live chat</a> support is also available during these times.</li>
                </ul>
              </div>
            </div>
          </div>
  
          <h2>Accordion (FAQ) No animation</h2>
  
          <div class="faq">
            <div class="accordion-3">
              <h3>What is Gato</h3>
              <div>
                <p>Gato is the name of Texas State's web content management system that enables users to quickly and easily create, manage and maintain sophisticated web sites without having to know complex web technologies or programming languages.</p>
  
                <p>As the size and complexity of web sites increase, well delivered and managed content is essential to ensuring that the process of updating, revising and redesigning does not become an obstacle to maintaining an up-to-date and relevant web
                  site.
                </p>
              </div>
            </div>
            <div class="accordion-3">
              <h3>Why should I use a CMS?</h3>
              <div>
                <p>There are several advantages that using the CMS provides:</p>
                <ul>
                  <li>You can manage your website without having to know HTML, CSS, Javascript, ASP, PHP, etc.</li>
                  <li>You get the Texas State look and feel without any extra effort.</li>
                  <li>Your website will be hosted on our high-availability servers.</li>
                  <li>It's easier to have multiple people contributing to your site without stepping on each other's toes.</li>
                  <li>The CMS helps minimize the chance of "page not found" and other errors.</li>
                </ul>
              </div>
            </div>
            <div class="accordion-3">
              <h3>What Features Does the Gato CMS Provide?</h3>
              <div>
                <ul>
                  <li>A user-friendly and Microsoft Word-like environment for content editing.</li>
                  <li>Support for photo galleries.</li>
                  <li>A self-updating department directory.</li>
                  <li>Support for streaming media (video and sound).</li>
                  <li>On-the-fly editable navigation.</li>
                  <li>A standard information architecture which can be modified to suit your needs.</li>
                  <li>Valid XHTML, which helps make your site accessible for people using screen readers or other assistive technologies.</li>
                  <li>Secure, redundant hosting for consistent public display of your website.</li>
                  <li>A document management system to allow online management and display of website files (pdf, word, excel, etc)</li>
                  <li>And much more...</li>
                </ul>
              </div>
            </div>
            <div class="accordion-3">
              <h3>On What Browsers Will Gato CMS Websites Display Properly?</h3>
              <div>
                <p>We've designed the system to create sites compatible with the latest versions of the modern web browsers: Firefox, Chrome, Internet Explorer, and Safari. Further, the sites should be usable with many older browsers as well, though the display
                  of data may not always be optimal.</p>
              </div>
            </div>
            <div class="accordion-3">
              <h3>Can I Set Up a Web Site for an Instructor or Student Organization in Gato?</h3>
              <div>
                <div class="txst-faqitem-answer" style="overflow: hidden;">
                  <p>Currently, the Gato system is only for college, academic department, center, institute and non-academic service and administrative department's web sites. At the present time we are not able to accommodate student organizations, personal
                    or instructional sites in Gato.&nbsp;</p>
                  <p>Chartered Student Organizations can host sites in Gato, although the request must come from the Charter's sponsor organization.</p>
                  <p><a href="#nowhere">WP&nbsp;Personal Websites</a> can be used to create and maintain websites that cannot be hosted in Gato.</p>
                </div>
              </div>
            </div>
            <div class="accordion-3">
              <h3>I know HTML, CSS, Javascript and have been developing web pages for years. Do I really need to attend the Gato training?</h3>
              <div>
                <p>Yes, absolutely. Gato training doesn't teach you to do HTML or CSS. It teaches you how to use the specific content management system we've installed. You'll learn what the different interfaces allow you to do, what options are available
                  (and what are not), as well as "gotchas" to keep in mind when developing in the system in order to avoid problems and delays.</p>
              </div>
            </div>
            <div class="accordion-3">
              <h3>How Can I Get Help With The Gato CMS?</h3>
              <div>
                <p>There are several resources to help you with the CMS:</p>
                <ul>
                  <li>The first place to go for information is this site, where we'll be providing documentation and other information on how to best utilize the CMS.</li>
                  <li>Next, consider signing up for one of our many <a href="#nowhere/support/training.html">Training Classes</a>.</li>
                  <li>You can always send a request for help to <a href="#">gato@txstate.edu</a>, where one of our support team will tend to it promptly.</li>
                  <li>You can also call 245-5566, our support line, between 8am and 12am, Monday-Friday, and from 12pm to 12am on Saturday and Sunday. <a href="#nowhere/support/livechat.html">Live chat</a> support is also available during these times.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>
  <!-- end page_content -->