<link rel="stylesheet" href="/static/login.css">
<script src="/static/jquery.min.js"></script>
<script src="/static/login.js"></script>

<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery.easing.min.js"></script>

<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		<form method="post" class="form">
			{% csrf_token %}
            {{ form.as_p }}
			<button type="submit" id="login-button">Login</button>
<style>
                label {
                    display: none;
                }
            </style>

            <script>
          $('#id_username').attr('placeholder', 'Username');
          $('#id_password').attr('placeholder', 'Password');

      </script>
		</form>
		
		


	</div>


	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>