html, body
{
    min-height: 100%;
}

.logo2
{
    position: relative;
    left: 0%;
    top: -70%;
    height: 200%;
    width: 18%;
}

.effect2
{
    display: inline-block;
    background-color: white;
    position:relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 53px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.modal-backdrop.in {
    opacity: 0.90;
}

.loginbutton
{
    position: relative;
    top: -47%;
    background-color: #337ab7;
    left: 31%;
    height: 100%;
    padding-top: 1%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid;
    border-color: whitesmoke;
    font-weight: bold;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.loginbutton:hover
{
    text-decoration: none;
    cursor: pointer;
    color: #1FB618;
    background-color: white;
    border: 1px solid;
    border-color: #1FB618;
}

.forgotpassword
{
    color: #337ab7;
    position: absolute;
    top: 46%;
    left: 66%;
    font-weight: bold;
}

.forgotpassword:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.errmsg
{
    position: absolute;
    top: 77%;
    width: 95%;
    text-align: center;
    display: none;
}

.errmsg2
{
    position: absolute;
    top: 85%;
    width: 95%;
    text-align: center;
    display: none;
}

.errmsg3
{
    position: absolute;
    top: 70%;
    width: 95%;
    text-align: center;
    display: none;
}

.button1
{
    position: absolute;
    top: 60%;
    height: 13%;
    width: 80%;
    right: 10%;
    background: #337ab7;
    border: 0px;
    color: white;
    border-radius: 5px 5px 5px 5px;
}
.button1:hover
{
    background: #1FB618;
    cursor : pointer;
    border: 0px;
}

.buttonSign
{
    position: absolute;
    bottom: 18%;
    right: 10%;
    background: #337ab7;
    height: 13%;
    width: 80%;
    border: hidden;
    color: white;
    border-radius: 5px 5px 5px 5px;
}
.buttonSign:hover
{
    background: #1FB618;
    cursor : pointer;
    border: hidden;
}

.buttonFP
{
    position: absolute;
    bottom: 37%;
    right: 10%;
    background: #337ab7;
    height: 13%;
    width: 80%;
    border: hidden;
    color: white;
    border-radius: 5px 5px 5px 5px;
}
.buttonFP:hover
{
    background: #1FB618;
    cursor : pointer;
    border: hidden;
}

.textfield
{
    color: #5D736A;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 5px 5px 5px 5px;
    padding-left: 4%;
    padding-right: 4%;
    border: 1px solid rgba(200, 200, 200, 1);
}

.textfield:focus
{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(7,110,236,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(7,110,236,0.5);
    box-shadow: 0px 0px 5px 0px rgba(7,110,236,0.5);
}

.textfielduser
{
    position: absolute;
    right: 10%;
    top: 10%;
    height: 13%;
    width: 80%;
}

.textfielduserfp
{
    position: absolute;
    right: 10%;
    top: 25%;
    height: 13%;
    width: 80%;
}

.textfieldpassword
{
    position: absolute;
    right: 10%;
    top: 30%;
    height: 13%;
    width: 80%;
}

.textfieldfname
{
    position: absolute;
    left: 10%;
    top: 30%;
    height: 13%;
    width: 39%;
}

.textfieldlname
{
    position: absolute;
    right: 10%;
    top: 30%;
    height: 13%;
    width: 39%;
}

.textfieldemail
{
    position: absolute;
    right: 10%;
    top: 51%;
    height: 13%;
    width: 80%;
}

.signupbutton
{
    position: relative;
    top: -47.2%;
    color: #337ab7;
    left: 30.8%;
    height: 100%;
    padding-top: 0.9%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid;
    border-color: #337ab7;
    font-weight: bold;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.signupbutton:hover
{
    text-decoration: none;
    cursor: pointer;
    background-color: #1FB618;
    color: white;
    border-color: white;
}

.footercontainer
{
    position: relative;
    display: inline-block;
    background-color: white;
    border: 2px;
    border-color: #e5e7e8;
    border-style: solid none none none;
    margin-top: 0.5%;
    height: 60px;
    width: 100%;
}

.footercopyright
{
    position: relative;
    color: #666666;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    top: 25%;
    left: 16%;
}

.footercontactus
{
    position: relative;
    top: -14%;
    left: 33%;
    color: #666666;
}

.footercontactno
{
    color: #666666;
    position: relative;
    top: 18%;
    left: 27.2%;
}

.footercontactmail
{
    color: #666666;
    position: relative;
    top: 18%;
    left: 20%;
}

.footercontactmail2
{
    color: #666666;
    position: relative;
    top: 47.2%;
    left: 6.1%;
}

.footercontactno2
{
    color: #666666;
    position: relative;
    top: 47%;
    left: 18.2%;
}

.footeraboutus
{
    border: 1px;
    padding-right: 1%;
    padding-left: 1%;
    border-color: #999999;
    border-style: none solid none none;
    position: relative;
    left: 7%;
    top: 26%;
    color: #666666;
    font-family: 'Open Sans',sans-serif;
}

.footeraboutus:hover
{
    top: 20%;
    cursor: pointer;
    color: black;
}

.footerfollowus
{
    position: relative;
    top: 23%;
    left: 2%;
    color: #666666;
}

.fotterfb
{
    position: relative;
    color: #666666;
    top: 31%;
    left: 2.5%;
}

.fotterfb:hover
{
    top: 25%;
    text-decoration: none;
    cursor: pointer;
    color: #3B5998;
}

.fottertw
{
    margin-left: 0.5%;
    color: #AAAAAA;
}

.fottertw:hover
{
    text-decoration: none;
    cursor: pointer;
    color: #55acee;
}

.fottergp
{
    margin-left: 0.5%;
    color: #AAAAAA;
}

.fottergp:hover
{
    text-decoration: none;
    cursor: pointer;
    color: #db4437;
}

.homelabel
{
    position: relative;
    left: 2%;
    top: -37%;
    width: 5.7%;
    height: 100%;
    font-size: 110%;
    cursor: pointer;
    color: #4C4A4D;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1.6%;
    padding-bottom: 0.5%;
}

.homelabel:hover
{
    cursor: pointer;
    border: 6px;
    border-color: #337ab7;
    border-style: none none solid none;
    color: #337ab7;
    height: 100%;
    width: 5.7%;
}

.learnlabel
{
    position: relative;
    left: 3%;
    top: -37%;
    width: 5.7%;
    height: 100%;
    font-size: 110%;
    cursor: pointer;
    color: #4C4A4D;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1.6%;
    padding-bottom: 0.5%;
}

.learnlabel:hover
{
    cursor: pointer;
    border: 6px;
    border-color: #337ab7;
    border-style: none none solid none;
    color: #337ab7;
    height: 100%;
    width: 5.7%;
}

.problemslabel
{
    position: relative;
    left: 4%;
    top: -37%;
    width: 5.7%;
    height: 100%;
    font-size: 110%;
    cursor: pointer;
    color: #4C4A4D;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1.6%;
    padding-bottom: 0.5%;
}

.problemslabel:hover
{
    cursor: pointer;
    border: 6px;
    border-color: #337ab7;
    border-style: none none solid none;
    color: #337ab7;
    height: 100%;
    width: 5.7%;
}

.contestslabel
{
    position: relative;
    left: 5%;
    top: -37%;
    width: 5.7%;
    height: 100%;
    font-size: 110%;
    cursor: pointer;
    color: #4C4A4D;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1.6%;
    padding-bottom: 0.5%;
}

.contestslabel:hover
{
    cursor: pointer;
    border: 6px;
    border-color: #337ab7;
    border-style: none none solid none;
    color: #337ab7;
    height: 100%;
    width: 5.7%;
}

.headerdropdownbuttom
{
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    border: none;
}

.headerprofilepic
{
    height: 70%;
    width: 2.7%;
    position: relative;
    left: 25%;
    top: -46%;
}

.headerdropdown
{
    display: inline-block;
    min-width: 5%;
    height: 100%;
    font-size: 110%;
    cursor: pointer;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    position: relative;
    left: 25%;
    top: -41%;
}

.headerdropdown:hover
{
    cursor: pointer;
    color: white;
}

.changepasswordlabel
{
    position: relative;
    left: 27%;
    top: -37%;
    width: 5.7%;
    height: 100%;
    font-size: 110%;
    cursor: pointer;
    color: #4C4A4D;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1.6%;
    padding-bottom: 0.5%;
}

.changepasswordlabel:hover
{
    cursor: pointer;
    border: 6px;
    border-color: #337ab7;
    border-style: none none solid none;
    color: #337ab7;
    height: 100%;
    width: 5.7%;
}

.rankingslabel
{
    position: relative;
    left: 6%;
    top: -37%;
    width: 5.7%;
    height: 100%;
    font-size: 110%;
    cursor: pointer;
    color: #4C4A4D;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 1.6%;
    padding-bottom: 0.5%;
}

.rankingslabel:hover
{
    cursor: pointer;
    border: 6px;
    border-color: #337ab7;
    border-style: none none solid none;
    color: #337ab7;
    height: 100%;
    width: 5.7%;
}

.selectedHeaderOption
{
    border: 6px;
    border-color: #337ab7;
    border-style: none none solid none;
    color: #337ab7;
}

.closeupdateprofilenotification
{
    padding-top: 0.2%;
    cursor: pointer;
}

.updateprofilenotification
{
    padding-top: 0.5%;
    padding-bottom: 0.3%;
    width: 85%;
    margin-top: 2%;
    margin-left: 7.5%;
    background-color: #337ab7;
    color: white;
    border-radius: 5px 5px 5px 5px;
}

.dropbtn {
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5%;
    float: right;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border: 1px solid;
    border-color: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    z-index: 200;
}

.dropdown-content a {
    color: black;
    padding: 7%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: black;
    background-color: white;
}