.effect3
{
    overflow: hidden;
    display: inline-block;
    background-color: white;
    position:relative;
    left: 4%;
    margin: 0.4%;
    margin-top: 2%;
    width: 190px;
    height: 210px;
    opacity: 1;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 3px 3px 3px 3px;
    transition: all .2s ease-in-out;
}

.effect3:hover
{
    transform: scale(1.08);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.effect4
{
    display: inline-block;
    background-color: white;
    position:absolute;
    width: 60%;
    height: 15%;
    bottom: 12%;
    right: 20%;
    opacity: 1;
    z-index: 10;
    border-radius: 5px 5px 5px 5px;
}

.topicscontainer
{
    position: relative;
    top: 10%;
    height: 90%;
    width: 100%;
}

.hide123
{
    visibility: hidden;
}

.textDisplay
{
    width: 100%;
    padding-top: 6%;
    position: relative;
    font-family: Sans-serif;
    text-align: center;
    font-size: 85%;
    overflow: hidden;
    word-wrap: break-word;
    color: #4C4A4D;
    cursor: pointer;
}

.addTopicImage
{
    z-index: -1;
    width: 100%;
    height: 80%;
    background-size: contain;
    border-radius: 3px 3px 0px 0px;
}


.green
{
    position: relative;
    left: 0%;
    padding-left: 20%;
    color: #2AFF2A;
}

.red
{
    position: absolute;
    right: 0%;
    padding-right: 20%;
    color: #FF002A;
}