{%include "base.html"%}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

<script type="text/javascript">
    tinymce.init({
        selector: "#mceEditor",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern imagetools"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            {title: 'Test template 1', content: 'Test 1'},
            {title: 'Test template 2', content: 'Test 2'}
        ]
    });
    </script>

    <link rel='stylesheet' href='/static/addarticle/addarticle.css' />
</head>

<body>
        <h1>ADD ARTICLE</h1> 
    <form method="post" >
        {% csrf_token %}

        <select name="articlecategory">
            <option unselected hidden value="" >Choose Category  </option> 
            <option value="reversing">Reversing </option>     
            <option value="forensics"> Forensics</option>     
            <option value="crypto"> Cryptography</option>     
            <option value="web"> Web Exploitation </option>     
            <option value="binary"> Binary Exploitation</option>     
            <option value="general">General Skills </option>     
        </select>
        <br> </br>
        <p><input   name="articlename"  type="text"  Placeholder="Title" required></p> 
        <textarea name="articlecontent" id="mceEditor" Placeholder="Content here" rows="11" ></textarea>
    </br>
    
    
        <button type="submit" class="btn" href="#">SUBMIT</button>
                
                
                
                <style>
                    .log-form label {
                        display: none;
                    }
                    
                </style>
            <script>
            $('#id_articleid').attr('placeholder', 'ArticleId');
            $('#id_articlecategory').attr('placeholder', 'Article Category');
            
            </script>
            
    </form>
</body>
</html>